<div>
  <div *ngIf="editing">
    <input 
    class="form-control border-input"
      #inlineeditcontrol
      [required]="required" 
      (blur)="onBlur($event)"
      [name]="value"
      [(ngModel)]="prevalue" 
      [type]="type" 
      [placeholder]="label"
      (keyup)=keyHandler($event)
  />
  </div>
  <div *ngIf="!editing">
    <div 
        title="Click to edit" 
        (click)="edit(value)" 
        (focus)="edit(value);" 
        tabindex="0" 
        class="inline-edit"
        >{{value}}&nbsp;</div>
  </div>
</div>
